# Datasets y modelos
data/
*.pkl
*.h5
*.parquet

# Entornos virtuales
venv/
.env

# Credenciales y secretos
.secrets
credentials.json

# Ficheros de prueba Power BI
powerbi/

# BBDD
db/

# Caches
__pycache__/
*.cache
.ipynb_checkpoints/

#APiusuario
/ApiUsuario/.venv/